@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

#logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 20px;
  line-height: 60px;
  font-weight: 700 !important;
}

#logo h1,
h2,
li span:first-child {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700 !important;
}

* {
  font-family: 'Ubuntu', sans-serif;
  list-style: none;
}

nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
}

nav a {
  display: block;
  padding: 14px 20px;
  font-size: 17px;
  text-decoration: none;
  color: #000000;
}

nav a:hover {
  color: #000000;
  text-decoration: none;
  background-size: 100% 90%;
}

.underline {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2em;
  font-weight: 700;
  background-image: linear-gradient(transparent calc(90%), #000 2px);
  background-repeat: no-repeat;
  background-size: 0% 90%;
  transition: background-size 0.4s;
  color: #000;
  cursor: pointer;
}

@media (min-width: 1000px) {
  .underline {
    font-size: 3em;
  }
}

.underline.yellow {
  background-image: linear-gradient(transparent 80%, #ffce79 30%);
}

.underline:hover {
  background-size: 100% 90%;
}

#header,
#about,
#project,
#contact,
#home {
  width: 100%;
  padding: 20px;
  float: left;
}

#footer {
  clear: both;
  padding: 20px;
  border: 1px solid #bcbcbc;
}

@media (max-width: 480px) {
  #container {
    width: auto;
  }

  #about {
    width: auto;
  }

  #home {
    width: auto;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }

  30% {
    transform: scale(1, 0.8) translate(0px, 10px);
  }

  75% {
    transform: scale(1, 1.1) translate(0px, -25px);
  }

  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}

.bounce {
  text-align: center;
  -webkit-animation: bounce 0.75s infinite;
}

#home {
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.81)), url("https://akm-img-a-in.tosshub.com/indiatoday/images/story/202012/chris-ried-ieic5Tq8YMk-unsplas_1200x768.jpeg?bEhcYQAShJnLf0Mtu4JYq8YzICfhz2rB&size=770:433");
  background-size: cover;
}

@keyframes type-1 {
  from {
    width: 0;
  }
}

@keyframes type-2 {
  0% {
    width: 0;
  }

  50% {
    width: 0;
  }

  100% {
    width: 100;
  }
}

@keyframes blink {
  to {
    opacity: .0;
  }
}

#home p {
  white-space: nowrap;
  font-size: 30px;
  overflow: hidden;
}

.text-1 {
  width: 20%;
  animation: type-1 1s steps(12, end);
}

.text-2 {
  width: 100%;
  animation: type-2 4s steps(60, end);
}

.intro span {
  animation: blink 1s linear 20s infinite;
}

.intro {
  padding-top: 15%;
  padding-left: 20%;
}

.intro p {
  color: white;
  padding-top: 5px;
  font: normal 1.5em/1em "Courier";
}

.introTXT,
.skill {
  display: inline-block;
}

.skill {
  margin-left: 50px;
}

#project .card {
  box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.3);
  width: 650px;
  height: 680px;
  padding-top: 10px;
  border-radius: 10px;
  background: white;
  margin: 0 auto;
  margin-bottom: 50px;
}

.projectTXT {
  font-family: 'NanumSquare', sans-serif;
  margin-top: 30px;
}

.card {
  --background: #FFFFFF;
  --text: black;
  z-index: 2;
  position: relative;
}

button {
  place-items: center;
  width: 3em;
  height: 3em;
  border: 2px;
  background:white;
}

button svg {
  width: 100%;
  height: 100%;
}

/* project IMG swiper */
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-wrapper{
  width:650px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-container {
  /* height: 500px; */
}

.swiper-slide img {
  display: block;
  margin: 0 auto;
  width: 700px;
  object-fit: cover;
}

.lang {
  background-color: #ffce79;
  border-radius: 5px;
  padding: 3px;
}

.langs {
  margin-top: 10px;
  font-family: 'Ubuntu', sans-serif !important;
}

#contact h2 {
  width: 180px;
  margin: 90px auto;
  margin-bottom: 30px !important;
}

.call {
  margin: 0 auto;
  width: 245px;
}

.name {
  font-family: 'NanumSquare', sans-serif;
  font-weight: 700;
}

